.button{
	-fx-background-image: url("../../res/images/CaseButton1.png");
	-fx-background-size: 35, 35;

}

.button:hover{
	-fx-background-image: url("../../res/images/Select.png");
}

.button:selected {
	-fx-background-image: url("../../res/images/Select.png");

}