.button {
-fx-background-image: url("../res/images/addSV.png");
-fx-background-size: 200px 132px;
-fx-background-repeat: no-repeat;
-fx-background-color: transparent;
-fx-opacity:0.5

    

}



.button:hover {
    
    -fx-opacity:10;
}