.root{
    -fx-background-image: url("../res/icons/case_frame.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 228 40;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: grey;
}
.hbox:hover .text-field{
    -fx-text-fill: blue;
}
.pane:hover . text-field{
    -fx-text-fill: blue;
}