
.custom_hbox {
    -fx-background-image: url("../res/icons/case_frame.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 229 40;
    -fx-pref-size: 229 40;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 1, 0, 0, 0);
    -fx-opacity: 1;
}
.custom_hbox:hover {
    -fx-opacity: 0.91;
}
.custom_hbox:pressed {
    -fx-opacity: 1;
}

.indicator{
    -fx-border-radius: 2,2,2,2;
    -fx-background-color: #5cc1df;
    -fx-border-color: rgba(147, 147, 147, 0.5);
    -fx-background-radius: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 1, 0, 0, 0);
}

#custom.label{
    -fx-background-radius:5;
    -fx-border-radius:5;
    -fx-text-fill: white;
    -fx-background-color: #5cc1df;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 2, 0, 0, 0);
}

.text-field {
    -fx-border-color: transparent ;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-prompt-text-fill: transparent;
    -fx-accent: #3e506a;
}
.text-field:hover{
    -fx-background-color: transparent;
}
.text-field:focused {
    -fx-prompt-text-fill: transparent;
}

.text-field:readonly {
    -fx-background-color: transparent;
}

.button.button_edit{
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-background-size: 11px 11px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../res/icons/edit_case_icon.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.8;
    -fx-padding: 2;
}
.button.button_delete{
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-background-size: 11px 11px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../res/icons/close_case_icon.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.8;
    -fx-padding: 2;
}

.button.button_edit:hover{
    -fx-opacity: 1;
}
.button.button_edit:pressed{
    -fx-opacity: 0.5;
}
.button.button_delete:hover{
    -fx-opacity: 1;
}
.button.button_delete:pressed{
    -fx-opacity: 0.5;
}