.button {

    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: dimgrey;
    -fx-padding: 0;
    -fx-font-size: 0;

}

.button:focused {
    -fx-effect: innershadow(gaussian, blue, 15, 0, 0, 0);

}


.button:hover {
    -fx-effect: innershadow(gaussian, red, 15, 0, 0, 0);
    -fx-background-image: url("../res/images/close.png");
}