#filters_box {
    -fx-border-color: transparent;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#filters_bar {
    -fx-background-image: url("../res/icons/filters_top_bar.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-margin: 10px;
}
#filters_label {
    -fx-text-fill: #ffffff;
}
#add_green_btn {
    -fx-background-image: url("../res/icons/green_add_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#add_red_btn {
    -fx-background-image: url("../res/icons/red_add_icon.png");
    -fx-background-repeat: stretch;
     -fx-border-color: transparent;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-color: transparent;

    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-margin: 0 0 0 0;
    -fx-padding: 0;
}
#add_filters {
    -fx-background-image: url("../res/icons/filter.png");
    -fx-background-repeat: stretch;
    -fx-border-color: transparent;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-color: transparent;

    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-margin: 0 0 0 0;
    -fx-padding: 0;
}
.filter_btn {
    -fx-opacity: 0.70;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
}
.filter_btn:hover {
    -fx-opacity: 1;
}
.filter_btn:pressed{
    -fx-opacity: 0.5;
}

.filter_btn:focused:pressed{
    -fx-opacity: 0.5;
}
.filter_btn:focused{
    -fx-opacity: 0.7;
}
.filter_btn:hover{
    -fx-opacity: 1;
}

#setting_btn {
    -fx-background-image: url("../res/icons/settings_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
}
#filters_scroll {
    -fx-min-height: 150px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#filters_scroll > .viewport{
    -fx-background-image: url("../res/images/background.jpg");
    -fx-padding: 10px;
}
#filters_scroll:focused{
    -fx-background-insets: 0;

}
#filters_scroll .corner{
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:#42536d;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track-background {
    visibility: hidden;
}

.scroll-bar:horizontal .track {
    visibility: hidden;
}
.hide-thumb .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}
.context-menu {
    -fx-background-color: #8cafda;
}