#notes_vbox {

}
#notes_scroll_pane {
    -fx-height: 50px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#notes_scroll_pane:focused{
    -fx-background-insets: 0;
}
#notes_scroll_pane.corner{
    -fx-background-insets: 0;
}
#notes_box {
    -fx-background-color: #bfbfbf;
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 1;
}
#notes_settings_bar {
    -fx-background-image: url("../res/icons/note_settings_bar.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
#notes_bar_settings_btn {
    -fx-background-image: url("../res/icons/settings_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 15 15;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
}
#notes_add_btn {
    -fx-min-height: 18px;
    -fx-min-width: 18px;
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../res/icons/add_icon.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.7;
    -fx-padding: 2;
}
.button:hover {
    -fx-opacity: 1;
}
.button:pressed{
    -fx-opacity: 0.5;
}
.button {
    -fx-opacity: 0.80;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
}
#notes_add_btn:hover {
    -fx-opacity: 1;
}

#notes_add_btn:pressed {
    -fx-opacity: 0.8;
}

#note_icon {
    -fx-background-image: url("../res/icons/note_icon.png");
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3   ), 10, 0, 0, 0);
    -fx-opacity: 0.8;
}

#note_icon:hover {
    -fx-opacity: 1;
}

#note_box {
    -fx-background-image: url("../res/icons/note_pane.png");
}
#note_text {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:#42536d;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track-background {
    visibility: hidden;
}

.scroll-bar:horizontal .track {
    visibility: hidden;
}
.hide-thumb .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}