.button {
	-fx-background-color: transparent;
	-fx-font-family:"Segoe Print";
	-fx-font-size: 14;
-fx-text-fill: black
}

.button:hover{
	-fx-text-fill: blue;
}

.button:pressed{
	-fx-font-weight: bold;
}