.scroll-pane {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}


.scroll-pane:focused {
	-fx-background-insets: 0;
}

.scroll-pane .corner {
	-fx-background-insets: 0;
}

.increment-button {
	-fx-background-color:transparent;
	-fx-background-radius: 2em;

}
.decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 2em;
}



.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}


.scroll-bar:horizontal {
  -fx-background-color: transparent;
}

.scroll-bar:horizontal .track-background {
  visibility: hidden;
}

.scroll-bar:horizontal .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:horizontal .thumb {
  -fx-background-color: transparent;
}