
.custom_hbox {
    -fx-background-image: url("../res/login/SignWindow.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 420 580;
    -fx-pref-size: 420 580;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 1, 0, 0, 0);
    -fx-opacity: 1;
}

.button.button_createAccount {
    -fx-min-height: 10px;
    -fx-min-width: 135px;
    -fx-background-size: 125px 9px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../res/login/CreateAccount.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.65;
}

.button.button_createAccount:hover {
    -fx-opacity: 0.8;
}

.button.button_createAccount:pressed {
    -fx-opacity: 0.5;
}

.button.button_signin {
    -fx-min-height: 10px;
    -fx-min-width: 48px;
    -fx-background-size: 45px 9px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("../res/login/SignIn.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.65;
}

.button.button_signin:hover {
    -fx-opacity: 0.8;
}

.button.button_signin:pressed {
    -fx-opacity: 0.5;
}

.button.button_sign {
    -fx-background-size: 337px 45px;
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
    /*-fx-background-image: url("../res/login/Button.png");*/
    /*-fx-background-color: transparent;*/
    /*-fx-border-color: transparent;*/
    -fx-background-color: #667995;
    -fx-background-radius: 5;
}

.button.button_sign:hover {
    -fx-opacity: 0.9;
}

.button.button_sign:pressed {
    -fx-opacity: 0.75;
}

.button.button_forget {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.65;
}

.button.button_forget:hover {
    -fx-opacity: 0.8;
}

.button.button_forget:pressed {
    -fx-opacity: 0.5;
}

#textfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.check-box:focused {
    -fx-color: white;
}

.check-box .box {
    -fx-background-color:white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-border-radius: 2, 2, 1, 1;
    -fx-border-color:#667995 ;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}

.check-box:focused .box {
    -fx-background-color: white;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 3.4, 2, 1, 1;
}

.check-box:hover .box {
    -fx-color: #667995;
}

.check-box:armed .box {
    -fx-color: #667995;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.check-box:indeterminate .mark {
    -fx-background-color: #667995;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

.check-box:selected .mark {
    -fx-background-color: #667995;
}
