

saveAsPane {
	-fx-background-image: url("../res/images/saveAs.png");
	-fx-background-size: 125, 125;
}



#callActionPane {
	-fx-background-image: url("../res/images/background3.png");
	-fx-background-size: 150, 150;
}






#pane.text-field {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0;
}


#importButton {
	-fx-background-image: url("../res/images/import.png");
	-fx-background-size: 50, 50;
}

.saveAsB {
	-fx-background-image: url("../res/images/button.png");
	-fx-background-size: 35, 35;
	-fx-background-color: white;
}
.saveAsB:pressed{
	-fx-background-insets: 10%;
}


