
.table-view{
    -fx-border-radius: 2,2,2,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view:focused {
    -fx-background-color: rgba(67, 84, 110, 0.01) /* or transparent or other preferred color */,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}




