.button1{
-fx-background-image: url("../res/images/background1.jpg");
-fx-background-size: 31, 31;
}
.button2{
-fx-background-image: url("../res/images/background2.jpg");
-fx-background-size: 31, 31;
}
.button3{
-fx-background-image: url("../res/images/background3.jpg");
-fx-background-size: 31, 31;
}
.button4{
-fx-background-image: url("../res/images/background4.jpg");
-fx-background-size: 31, 31;
}
.button5{
-fx-background-image: url("../res/images/background5.jpg");
-fx-background-size: 31, 31;
}
.button6{
-fx-background-image: url("../res/images/background6.jpg");
-fx-background-size: 31, 31;
}
.button7{
-fx-background-image: url("../res/images/background7.jpg");
-fx-background-size: 31, 31;
}
.button8{
-fx-background-image: url("../res/images/background8.jpg");
-fx-background-size: 31, 31;
}
.button9{
-fx-background-image: url("../res/images/background9.jpg");
-fx-background-size: 31, 31;
}
.button10{
-fx-background-image: url("../res/images/background10.png");
-fx-background-size: 31, 31;
}