/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d6383+1,3e506a+1,3e506a+1,3e506a+50,3d4f69+98,2f3f57+99 */
.upmenu {
    fx-background: #4d6383; /* Old browsers */
    fx-background: -moz-linear-gradient(top, #4d6383 1%, #3e506a 1%, #3e506a 1%, #3e506a 50%, #3d4f69 98%, #2f3f57 99%); /* FF3.6-15 */
    fx-background: -webkit-linear-gradient(top, #4d6383 1%, #3e506a 1%, #3e506a 1%, #3e506a 50%, #3d4f69 98%, #2f3f57 99%); /* Chrome10-25,Safari5.1-6 */
    fx-background: linear-gradient(to bottom, #4d6383 1%, #3e506a 1%, #3e506a 1%, #3e506a 50%, #3d4f69 98%, #2f3f57 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    fx-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d6383', endColorstr='#2f3f57', GradientType=0); /* IE6-9 */
}